* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

#game {
  width: 800px;
  height: 800px;
  display: inline-block;
  text-align: center;
}

.div-casa {
  background: #000;
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 2px;
}

.div-casa h1 {
  color: #fff;
}

.div-casa:hover {
  background: wheat;
}

.player {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 10%;
}

@media (max-width: 820px), (max-height: 820px) {
  #game {
    width: 600px;
    height: 600px;
  }
  .div-casa {
    background: #000;
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 2px;
  }
}

@media (max-width: 620px), (max-height: 620px) {
  #game {
    width: 400px;
    height: 400px;
  }
  .div-casa {
    width: 44px;
    height: 44px;
    margin: 1px;
  }
}

@media (max-width: 420px), (max-height: 420px) {
  #game {
    width: 300px;
    height: 300px;
  }
  .div-casa {
    width: 30px;
    height: 30px;
    margin: 1px;
  }
}

.game-dice {
  width: 300px;
  position: absolute;
  top: 0;
}